
@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>


<script src="~/js/cliente.js"></script>
<script src="~/js/generic.js"></script>



<form id="frmBusquedaClientes" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="buscarClientes()" placeholder="Buscar por nombre, modelo..." aria-label="Buscar" aria-describedby="button-addon2" id="txtTerminoBusqueda" name="terminoBusqueda">
        <button class="btn btn-danger" onclick="limpiarClientes('frmBusquedaClientes')" type="button" id="button-addon2">limpiar</button>
    </div>
</form>

<form id="frmGuardarClientes" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtnombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="txtapellido" name="apellido">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="telefono">Telefono:</label>
                        <input type="text" class="form-control" id="txttelefono" name="telefono">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="txtemail" name="email">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="gap-2">
                        <button type="button" onclick="guardarClientes()" class="btn btn-primary">
                            Guardar
                        </button>
                        <button type="button" onclick="limpiarClientes('frmGuardarClientes')" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmEditarClientes" method="post">
                    <input type="hidden" class="form-control" id="txtidClienteModal" name="idCliente">
                    <div class="md-3">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="txtnombreModal" name="nombre">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" class="form-control" id="txtapellidoModal" name="apellido">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="telefono">Telefono:</label>
                            <input type="text" class="form-control" id="txttelefonoModal" name="telefono">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="txtemailModal" name="email">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarEdicion()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<div id="divtabla"></div>

