<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alquiler de Vehículos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
	<link href="~/css/login.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="side-nav">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Vehiculo" asp-action="Index">
                        <i class="fa fa-car"></i> Vehículos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">
                        <i class="fa fa-calendar"></i> Reservas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">
                        <i class="fa fa-user"></i> Clientes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
                        <i class="fa fa-sign-out-alt"></i> Cerrar Sesión
                    </a>
                </li>
                <div class="switch">
                    <label class="switch">
                        <input type="checkbox" id="modeToggle">
                        <span class="slider"></span>
                    </label>
                </div>
            </ul>
        </nav>
    }

    <div class="content">
        <!-- Barra de Navegación -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> Bassy Rent a Car</a>
                    <img src="~/img/alquiler-autored.jpg" alt="Alternate Text" width="100" height="50" />
                </div>
            </nav>
        </header>

        <!-- Carrusel de imágenes -->
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
               
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/jeep-negro.webp" class="d-block w-100" alt="Vehículo 1" width="500" height="500" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Alquiler de Vehículos</h5>
                                <a href="#reservar" class="btn btn-primary">Reserva ¡Ahora!</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/jeep-rojo.jpeg" class="d-block w-100" alt="Vehículo 2" width="500" height="500" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Alquiler de Vehículos</h5>
                                <a href="#reservar" class="btn btn-primary">Reserva ¡Ahora!</a>
                            </div>
                        </div>
                        
                        <div class="carousel-item">
                            <img src="/img/Jeep_amarillo.jpg" class="d-block w-100" alt="Vehículo 4" width="500" height="500">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Alquiler de Vehículos</h5>
                                <a href="#reservar" class="btn btn-primary">Reserva ¡Ahora!</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/alquiler-autored.jpg" class="d-block w-100" alt="Vehículo 5" width="500" height="500">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Alquiler de Vehículos</h5>
								<a href="#reservar" class="btn btn-primary">Reserva ¡Ahora! </a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
            
        </div>

      

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - Alquiler de Vehículos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
            </div>
        </footer>
    </div>

    <!-- Modal de Iniciar Sesión -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de inicio de sesión -->
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Registrarse -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de registro -->
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-success">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        // Botón deslizante
        const toggleSwitch = document.querySelector('.switch input');
        const body = document.body;

        // Al cambiar el estado del switch, se activa el modo oscuro
        toggleSwitch.addEventListener('change', function() {
            body.classList.toggle('dark-mode', this.checked);
            document.querySelector('header').classList.toggle('dark-mode', this.checked);
            document.querySelector('footer').classList.toggle('dark-mode', this.checked);
            document.querySelector('.side-nav').classList.toggle('dark-mode', this.checked);
        });
    </script>


    <script>
        $(function() {
            var currentUrl = window.location.pathname.toLowerCase();
            $("li a").each(function() {
                var linkUrl = $(this).attr("href").toLowerCase();
                if (currentUrl === linkUrl) {
                    $(this).parent().addClass("active");
                }
            });

            $("li").click(function() {
                $("li").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
