
@{
    ViewData["Title"] = "Index";
}

<h1>Pagos</h1>

<script src="~/js/pagos.js"></script>
<script src="~/js/generic.js"></script>


<form id="frmBusquedaPagos" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="buscarPagos()" placeholder="Buscar por nombre, modelo..." aria-label="Buscar" aria-describedby="button-addon2" id="txtTerminoBusqueda" name="terminoBusqueda">
        <button class="btn btn-danger" onclick="limpiarPagos('frmBusquedaPagos')" type="button" id="button-addon2">limpiar</button>
    </div>
</form>

<div id="divtabla"></div>

