
@{
    ViewData["Title"] = "Index";
}

<h1>Seguros</h1>

<script src="~/js/seguros.js"></script>
<script src="~/js/generic.js"></script>

<form id="frmBusquedaSeguros" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="buscarSeguros()" placeholder="Buscar por nombre, modelo..." aria-label="Buscar" aria-describedby="button-addon2" id="txtTerminoBusqueda" name="terminoBusqueda">
        <button class="btn btn-danger" onclick="limpiarSeguros('frmBusquedaSeguros')" type="button" id="button-addon2">limpiar</button>
    </div>
</form>


<div id="divtabla"></div>