
@{
    ViewData["Title"] = "Index";
}

<h1>Seguros</h1>

<script src="~/js/seguros.js"></script>
<script src="~/js/generic.js"></script>

<form id="frmBusquedaSeguros" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="buscarSeguros()" placeholder="Buscar por nombre, modelo..." aria-label="Buscar" aria-describedby="button-addon2" id="txtTerminoBusqueda" name="terminoBusqueda">
        <button class="btn btn-danger" onclick="limpiarSeguros('frmBusquedaSeguros')" type="button" id="button-addon2">limpiar</button>
    </div>
</form>

<form id="frmGuardarSeguros" method="post">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="form-group">
                <label for="idReserva">Id de la Reserva:</label>
                <input type="text" class="form-control" id="txtidReserva" name="reservaId">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="tipoSeguro">Tipo de Seguro:</label>
                <select class="form-control" id="cboTipoSeguro" name="tipoSeguro" onchange="actualizarCostoSeguro()" >
                    <option value="Basico">Básico</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Premium">Premium</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="costoSeguro">Costo del Seguro:</label>
                <input type="text" class="form-control" id="txtCostoSeguro" name="costo" readonly>
            </div>
        </div>
        <div class="row mt-3">
            <div class="gap-2">
                <button type="button" onclick="guardarSeguros()" class="btn btn-primary">
                    Guardar
                </button>
                <button type="button" onclick="limpiarSeguros('frmGuardarSeguros')" class="btn btn-danger">
                    Limpiar
                </button>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmEditarSeguros" method="post">
                    <input type="hidden" class="form-control" id="txtidSegurosModal" name="idSeguro">
                    <input type="hidden" class="form-control" id="txtidReservasModal" name="reservaId">

                    <div class="mb-3">
                        <div class="form-group">
                            <label for="tipoSeguro">Tipo de Seguro:</label>
                            <select class="form-control" id="cboTipoSeguroModal" name="tipoSeguro" onchange="actualizarCostoSeguroModal()">
                                <option value="Basico">Básico</option>
                                <option value="Intermedio">Intermedio</option>
                                <option value="Premium">Premium</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="costo">Costo:</label>
                            <input type="text" class="form-control" id="txtCostoModal" name="costo" readonly>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarEdicion()" >Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<div id="divtabla"></div>