
@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<script src="~/js/empleados.js"></script>
<script src="~/js/generic.js"></script>



<form id="frmBusquedaEmpleados" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="buscarEmpleados()" placeholder="Buscar por nombre, modelo..." aria-label="Buscar" aria-describedby="button-addon2" id="txtTerminoBusqueda" name="terminoBusqueda">
        <button class="btn btn-danger" onclick="limpiarEmpleados('frmBusquedaEmpleados')" type="button" id="button-addon2">limpiar</button>
    </div>
</form>

<form id="frmGuardarEmpleados" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtnombre" name="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="txtapellido" name="apellido">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cargo">Cargo:</label>
                        <input type="text" class="form-control" id="txtcargo" name="cargo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="telefono">Telefono:</label>
                        <input type="text" class="form-control" id="txttelefono" name="telefono">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="txtemail" name="email">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="gap-2">
                        <button type="button" onclick="guardarEmpleados()" class="btn btn-primary">
                            Guardar
                        </button>
                        <button type="button" onclick="limpiarEmpleados('frmGuardarEmpleados')" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="divtabla"></div>
