@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<h1>Dashboard</h1>

<h2>Bienvenido, Administrador</h2>


<!-- Cards de vehículos disponibles -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/img/ROJO_duster.webp" class="card-img-top" alt="Vehículo 1">
                <div class="card-body">
					<h5 class="card-title">Vehiculo 1 </h5>
                    <p class="card-text">Marca: Renoutl </p>
						<p class="card-text">Modelo: Duster </p>
						<p class="card-text">Año: 2021 </p>
						<p class="card-text">Color: Rojo </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/img/1renault_duster_full_1.6.webp" class="card-img-top" alt="Vehículo 2">
                <div class="card-body">
                    <h5 class="card-title">Vehículo 2</h5>
					<p class="card-text">Marca: Renault</p>
					<p class="card-text">Modelo: Duster</p>
					<p class="card-text">Año: 2022</p>
					<p class="card-text">Color: Blanco</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/img/camionetaBlanca.png" class="card-img-top" alt="Vehículo 3">
                <div class="card-body">
                    <h5 class="card-title">Vehículo 3</h5>
					<p class="card-text">Marca: Chevrolet </p>
					<p class="card-text">Modelo: Tracker </p>
					<p class="card-text">Año: 2021 </p>
					<p class="card-text">Color: Blanco </p>
                </div>
            </div>
        </div>
    </div>
</div>