@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="login-container">
    <h2>Login</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
    }

    <form method="post" action="/Account/Login">
        <div class="input-container">
            <i class="fas fa-user"></i>
			<input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required>
        </div>
        <div class="input-container">
            <i class="fas fa-lock"></i>
			<input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>    
        </div>

        <button type="submit" class="btn btn-login w-100 py-2">Login</button>

        
    </form>
</div>


