
@{
    ViewData["Title"] = "Index";
}

<h1>Vehiculos</h1>

<script src="~/js/vehiculo.js"></script>
<script src="~/js/generic.js"></script>

<form id="frmBusquedaVehiculos" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="buscarVehiculos()" placeholder="Buscar por nombre, modelo..." aria-label="Buscar" aria-describedby="button-addon2" id="txtTerminoBusqueda" name="terminoBusqueda">
        <button class="btn btn-danger" onclick="limpiarVehiculos('frmBusquedaVehiculos')" type="button" id="button-addon2">limpiar</button>
    </div>
</form>

<form id="frmGuardarVehiculos" method="post">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <input type="text" class="form-control" id="txtmarca" name="marca">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="modelo">Modelo:</label>
                        <input type="text" class="form-control" id="txtmodelo" name="modelo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="anio">Año:</label>
                        <input type="text" class="form-control" id="txtanio" name="anio">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="text" class="form-control" id="txtprecio" name="precio">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="txtestado" name="estado">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="gap-2">
                        <button type="button" onclick="guardarVehiculos()" class="btn btn-primary">
                            Guardar
                        </button>
                        <button type="button" onclick="limpiarVehiculos('frmGuardarVehiculos')" class="btn btn-danger">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmEditarVehiculos" method="post">
                    <input type="hidden" class="form-control" id="txtidVehiculoModal" name="idVehiculo">
                    <div class="md-3">
                        <div class="form-group">
                            <label for="marca">Marca:</label>
                            <input type="text" class="form-control" id="txtmarcaModal" name="marca">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="modelo">Modelo:</label>
                            <input type="text" class="form-control" id="txtmodeloModal" name="modelo">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="anio">Año:</label>
                            <input type="text" class="form-control" id="txtanioModal" name="anio">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="precio">Precio:</label>
                            <input type="text" class="form-control" id="txtprecioModal" name="precio">
                        </div>
                    </div>
                    <div class="md-3">
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <input type="text" class="form-control" id="txtestadoModal" name="estado">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarEdicion()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<div id="divtabla"></div>